@model IEnumerable<Ticketverkoop.ViewModel.ClubVM>

@{
    ViewData["Title"] = "Index";
}

<h1>Clubs</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Naam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stadion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Logo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Naam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stadion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Logo)
            </td>
            
        </tr>
}
    </tbody>
</table>
