@model IEnumerable<Ticketverkoop.ViewModel.WedstrijdVM>

@{
    ViewData["Title"] = "WedstrijdenPerClub";
}

<h1>Wedstrijden per club</h1>


<div class="row">
    <div class="col-md-4">
        <form asp-action="ListForm">

            <div class="form-group">
                <label for="clubId" class="control-label"></label>
                <select name="clubId" id="clubId"
                        asp-items="@ViewBag.lstClub">
                    <option>Selecteer club</option>
                </select>
            </div>

            <div class="form-group">
                <input type="submit" value="Zoeken" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
@if (Model != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Datum)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Thuisploeg)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Uitploeg)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Stadion)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Datum)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Thuisploeg)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Uitploeg)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Stadion)
                    </td>
                    <td>
                        @Html.ActionLink("Koop tickets", "Select", "Wedstrijd", new { id = item.WedstrijdId })
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
