@model IEnumerable<Ticketverkoop.ViewModel.HistoriekVM>

@{
    ViewData["Title"] = "Annulatie";
}

<h1>Annulatie</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TicketId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Datum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Thuisploeg)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Uitploeg)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ZitplaatsNr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ring)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vak)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TicketId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Datum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Thuisploeg)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Uitploeg)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ZitplaatsNr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ring)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vak)
            </td>
            <td>
                @Html.ActionLink("Delete", "Delete", new {  id=item.TicketId  })
            </td>
        </tr>
}
    </tbody>
</table>
