@model IEnumerable<Ticketverkoop.ViewModel.HistoriekVM>

@{
    ViewData["Title"] = "Historiek";
}

<h1>Historiek</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TicketId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ZitplaatsNr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ring)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vak)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TicketId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ZitplaatsNr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ring)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vak)
            </td>
        </tr>
}
    </tbody>
</table>
