@model IEnumerable<Ticketverkoop.ViewModel.WedstrijdVM>

@{
    ViewData["Title"] = "Index";
}

<h1>Toekomstige wedstrijden</h1>
@section Styles{
    <link href="~/lib/datatables/css/jquery.dataTables.min.css" rel="stylesheet" />
}


<table class="table" id="myTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Datum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Thuisploeg)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Uitploeg)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stadion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Datum)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Thuisploeg)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Uitploeg)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Stadion)
                </td>
                <td>
                    @Html.ActionLink("Koop tickets", "Select", new { id = item.WedstrijdId })
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts{
    <script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
    @*Toevoegen voor tables + sorting*@
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable();
        });
    </script>
}
